In [1]:
import quandl 
import os 
from dotenv import load_dotenv
import pandas as pd

In [2]:
load_dotenv()

True

In [3]:
quandl_key = os.getenv('QUANDL_API_KEY2')

In [4]:
quandl.ApiConfig.api_key = "h_n8GsMA-kayvjbxGbk-"

In [5]:
#BELOW IS SAMPLE DATA OF WHAT THE REST SHOULD LOOK LIKE

In [6]:
walmart_data = quandl.get_table('SHARADAR/SF1' , dimension = 'ARQ' , calendardate = {'gte': '2018-03-31'}, ticker = 'WMT')

In [7]:
walmart_data_year1 = walmart_data.iloc[7:]

In [8]:
walmart_data_year2 = walmart_data.iloc[3:7]

In [9]:
walmart_data_year3 = walmart_data.iloc[0:3]

In [10]:
walmart_data_year1
walmart_data_year1_filtered = walmart_data_year1.filter(items = ['calendardate', 'currentratio', 'assets', 'assetsavg', 'assetsc', 'cashenq', 'liabilitiesc', 'debt' , 'debtc' , 'debtnc', 'revenue' , 'capex','intexp', 'ebit', 'optinc', 'netinc','net', 'equityusd', 'roa', 'roe', 'de', 'gp', 'eps','pe'])
walmart_data_year1_filtered

,calendardate,currentratio,assets,assetsavg,assetsc,liabilitiesc,debt,debtc,debtnc,revenue,...,intexp,ebit,netinc,equityusd,roa,roe,de,gp,eps,pe
None,,,,,,,,,,,,,,,,,,,,,
7,2018-12-31,0.799,219295000000,None,61897000000,77477000000,58033000000,7830000000,50203000000,138793000000,...,669000000,6207000000,3687000000,72496000000,None,None,1.926,33886000000,1.27,41.789
8,2018-09-30,0.810,226583000000,None,69446000000,85751000000,60991000000,11095000000,49896000000,124894000000,...,593000000,3062000000,1710000000,71996000000,None,None,2.043,31778000000,0.58,55.002
9,2018-06-30,0.926,206062000000,None,66370000000,71683000000,53796000000,2228000000,51568000000,128028000000,...,554000000,818000000,-861000000,71185000000,None,None,1.858,32457000000,-0.29,54.354
10,2018-03-31,0.734,204927000000,None,59242000000,80757000000,46343000000,10038000000,36305000000,122690000000,...,530000000,3210000000,2134000000,75552000000,None,None,1.676,30983000000,0.72,28.141

In [11]:
walmart_data_year2
walmart_data_year2_filtered =  walmart_data_year2.filter(items = ['calendardate', 'currentratio', 'assets', 'assetsavg', 'assetsc', 'cashenq', 'liabilitiesc', 'debt' , 'debtc' , 'debtnc', 'revenue' , 'capex','intexp', 'ebit', 'optinc', 'netinc','net', 'equityusd', 'roa', 'roe', 'de', 'gp', 'eps'])
walmart_data_year2_filtered

,calendardate,currentratio,assets,assetsavg,assetsc,liabilitiesc,debt,debtc,debtnc,revenue,capex,intexp,ebit,netinc,equityusd,roa,roe,de,gp,eps
None,,,,,,,,,,,,,,,,,,,,
3,2019-12-31,0.795,236495000000,None,61806000000,77790000000,72433000000,8241000000,64192000000,141671000000,-2837000000,652000000,6172000000,4141000000,74669000000,None,None,2.075,33923000000,1.46
4,2019-09-30,0.811,239830000000,None,67912000000,83784000000,75948000000,11227000000,64721000000,127991000000,-2804000000,633000000,4973000000,3288000000,71649000000,None,None,2.254,32091000000,1.16
5,2019-06-30,0.764,234861000000,None,61371000000,80283000000,74709000000,10311000000,64398000000,130377000000,-2580000000,641000000,5484000000,3610000000,70327000000,None,None,2.243,32454000000,1.27
6,2019-03-31,0.773,234544000000,None,61739000000,79888000000,75429000000,8475000000,66954000000,123925000000,-2163000000,673000000,5766000000,3842000000,68205000000,None,None,2.341,30891000000,1.34

In [12]:
walmart_data_year3
walmart_data_year3_filtered = walmart_data_year3.filter(items = ['calendardate', 'currentratio', 'assets', 'assetsavg', 'assetsc', 'cashenq', 'liabilitiesc', 'debt' , 'debtc' , 'debtnc', 'revenue' , 'capex','intexp', 'ebit', 'optinc', 'netinc','net', 'equityusd', 'roa', 'roe', 'de', 'gp', 'eps'])
walmart_data_year3_filtered

,calendardate,currentratio,assets,assetsavg,assetsc,liabilitiesc,debt,debtc,debtnc,revenue,capex,intexp,ebit,netinc,equityusd,roa,roe,de,gp,eps
None,,,,,,,,,,,,,,,,,,,,
0,2020-09-30,0.835,250863000000,None,73602000000,88121000000,68478000000,6897000000,61581000000,134708000000,-2853000000,541000000,7590000000,5135000000,81431000000,None,None,2.006,34369000000,1.81
1,2020-06-30,0.793,237382000000,None,64996000000,81957000000,69494000000,8193000000,61301000000,137742000000,-1794000000,658000000,9341000000,6476000000,75310000000,None,None,2.074,35053000000,2.29
2,2020-03-31,0.766,232892000000,None,63328000000,82647000000,75432000000,12283000000,63149000000,134622000000,-1692000000,592000000,5904000000,3990000000,68240000000,None,None,2.327,32596000000,1.41

In [13]:
walmart_da = (walmart_data_year3_filtered['debt']/walmart_data_year3_filtered['assets'])
walmart_da

None
0    0.272970
1    0.292752
2    0.323893
dtype: float64

In [77]:
def get_year_quarterly_data_2018( dataset , typeofstatement , date , companysymbol): 
    companyname_data = quandl.get_table(dataset , dimension = typeofstatement , calendardate = {'gte': date}, ticker = companysymbol )
    companyname_data_filtered = companyname_data.filter(items = ['calendardate', 'currentratio', 'assets', 'assetsavg', 'assetsc', 'cashenq', 'liabilitiesc', 'debt' , 'debtc' , 'debtnc', 'revenue' , 'capex','intexp', 'ebit', 'optinc', 'netinc','net', 'equityusd', 'roa', 'roe', 'de', 'gp', 'eps','pe'])
    companyname_data_year1 = companyname_data_filtered.iloc[7:]
    return companyname_data_year1 

def get_year_quarterly_data_2019( dataset , typeofstatement , date , companysymbol): 
    companyname_data = quandl.get_table(dataset , dimension = typeofstatement , calendardate = {'gte': date}, ticker = companysymbol)
    companyname_data_filtered = companyname_data.filter(items = ['calendardate', 'currentratio', 'assets', 'assetsavg', 'assetsc', 'cashenq', 'liabilitiesc', 'debt' , 'debtc' , 'debtnc', 'revenue' , 'capex','intexp', 'ebit', 'optinc', 'netinc','net', 'equityusd', 'roa', 'roe', 'de', 'gp', 'eps', 'pe'])
    companyname_data_year2 = companyname_data_filtered.iloc[3:7]
    return companyname_data_year2

def get_year_quarterly_data_2020(  dataset , typeofstatement , date , companysymbol): 
    companyname_data = quandl.get_table(dataset , dimension = typeofstatement , calendardate = {'gte': date}, ticker = companysymbol)
    companyname_data_filtered = companyname_data.filter(items = ['calendardate', 'currentratio', 'assets', 'assetsavg', 'assetsc', 'cashenq', 'liabilitiesc', 'debt' , 'debtc' , 'debtnc', 'revenue' , 'capex','intexp', 'ebit', 'optinc', 'netinc','net', 'equityusd', 'roa', 'roe', 'de', 'gp', 'eps', 'pe'])
    companyname_data_year3 = companyname_data_filtered.iloc[0:3]
    return companyname_data_year3


def current_ratio(companies = []): 
    a = ['ca1' , 'ca2' , 'ca3', 'ca4', 'ca5' , 'ca6']
    b = ['ca11' , 'ca22', 'ca33', 'ca44', 'ca55', 'ca66']
    c = ['ca111' , 'ca222', 'ca333', 'ca444', 'ca555', 'ca666']
    list_1 = []
    list_2 = []
    list_3 = []
    for ratio in a: 
        for company in companies: 
            ratio = company 
            list_1.append(ratio)
    for ratio_2 in b:
        for new in list_1: 
            ratio_2 = new.filter(items = ['calendardate', 'currentratio'])
            list_2.append(ratio_2)
    for ratio_3 in c: 
        for z in list_2: 
            ratio_3 = z.set_index('calendardate')
            list_3.append(ratio_3)
    combined = pd.concat([x for x in list_3], axis = 1 , ignore_index = True)
    combined2 = combined.filter(items=[0 ,1,2,3,4,5])
    return combined2


def debt_to_equity(companies = []): 
    a = ['de1' , 'de2' , 'de3', 'de4', 'de5' , 'de6']
    b = ['de11' , 'de22', 'de33', 'de44', 'de55', 'de66']
    c = ['de111' , 'de222', 'de333', 'de444', 'de555', 'de666']
    list_1 = []
    list_2 = []
    list_3 = []
    for ratio in a: 
        for company in companies: 
            ratio = company 
            list_1.append(ratio)
    for ratio_2 in b:
        for new in list_1: 
            ratio_2 = new.filter(items = ['calendardate', 'de'])
            list_2.append(ratio_2)
    for ratio_3 in c: 
        for z in list_2: 
            ratio_3 = z.set_index('calendardate')
            list_3.append(ratio_3)
    combined = pd.concat([x for x in list_3], axis = 1 , ignore_index = True)
    combined2 = combined.filter(items=[0 ,1,2,3,4,5])
    return combined2
    


def debt_to_assets(companies = []): 
    a = ['de1' , 'de2' , 'de3', 'de4', 'de5' , 'de6']
    b = ['de11' , 'de22', 'de33', 'de44', 'de55', 'de66']
    c = ['de111' , 'de222', 'de333', 'de444', 'de555', 'de666']
    d = ['de1111' , 'de2222', 'de3333', 'de4444', 'de5555', 'de6666']
    list_1 = []
    list_2 = []
    list_3 = []
    list_4 = []
    for ratio in a: 
        for company in companies: 
            ratio = company
            list_1.append(ratio)
    for ratio_2 in b: 
        for new in list_1: 
            ratio_2 = new.set_index('calendardate')
            list_2.append(ratio_2)
    for ratio_3 in c: 
        for z in list_2: 
            z['D/A'] = (z["debt"]/z['assets'])
            ratio_3 = z.filter(items = ['D/A'])
            list_3.append(ratio_3)
    combined1 = pd.concat([l for l in list_3], axis = 1, ignore_index = True)
    combined2 = combined1.filter(items = [0,1,2,3,4,5])
    return combined2
                        

def interest_coverage(companies = []): 
    a = ['de1' , 'de2' , 'de3', 'de4', 'de5' , 'de6']
    b = ['de11' , 'de22', 'de33', 'de44', 'de55', 'de66']
    c = ['de111' , 'de222', 'de333', 'de444', 'de555', 'de666']
    d = ['de1111' , 'de2222', 'de3333', 'de4444', 'de5555', 'de6666']
    list_1 = []
    list_2 = []
    list_3 = []
    list_4 = []
    for ratio in a: 
        for company in companies: 
            ratio = company
            list_1.append(ratio)
    for ratio_2 in b: 
        for new in list_1: 
            ratio_2 = new.set_index('calendardate')
            list_2.append(ratio_2)
    for ratio_3 in c: 
        for z in list_2: 
            z['Interest Coverage'] = (z["ebit"]/z['intexp'])
            ratio_3 = z.filter(items = ['Interest Coverage'])
            list_3.append(ratio_3)
    combined1 = pd.concat([l for l in list_3], axis = 1 , ignore_index = True)
    combined2 = combined1.filter(items = [0,1,2,3,4,5])
    return combined2




def gross_profit_margin(companies = []): 
    a = ['de1' , 'de2' , 'de3', 'de4', 'de5' , 'de6']
    b = ['de11' , 'de22', 'de33', 'de44', 'de55', 'de66']
    c = ['de111' , 'de222', 'de333', 'de444', 'de555', 'de666']
    d = ['de1111' , 'de2222', 'de3333', 'de4444', 'de5555', 'de6666']
    list_1 = []
    list_2 = []
    list_3 = []
    list_4 = []
    for ratio in a: 
        for company in companies: 
            ratio = company
            list_1.append(ratio)
    for ratio_2 in b: 
        for new in list_1: 
            ratio_2 = new.set_index('calendardate')
            list_2.append(ratio_2)
    for ratio_3 in c: 
        for z in list_2: 
            z['Gross Profit Margin'] = (z["gp"]/z['revenue'])
            ratio_3 = z.filter(items = ['Gross Profit Margin'])
            list_3.append(ratio_3)
    combined1 = pd.concat([l for l in list_3], axis = 1 , ignore_index = True)
    combined2 = combined1.filter(items = [0,1,2,3,4,5])
    return combined2


def operating_profit_margin(companies = []): 
    a = ['de1' , 'de2' , 'de3', 'de4', 'de5' , 'de6']
    b = ['de11' , 'de22', 'de33', 'de44', 'de55', 'de66']
    c = ['de111' , 'de222', 'de333', 'de444', 'de555', 'de666']
    d = ['de1111' , 'de2222', 'de3333', 'de4444', 'de5555', 'de6666']
    list_1 = []
    list_2 = []
    list_3 = []
    list_4 = []
    for ratio in a: 
        for company in companies: 
            ratio = company
            list_1.append(ratio)
    for ratio_2 in b: 
        for new in list_1: 
            ratio_2 = new.set_index('calendardate')
            list_2.append(ratio_2)
    for ratio_3 in c: 
        for z in list_2: 
            z['Operating Profit Margin'] = (z["ebit"]/z['revenue'])
            ratio_3 = z.filter(items = ['Operating Profit Margin'])
            list_3.append(ratio_3)
    combined1 = pd.concat([l for l in list_3], axis = 1 , ignore_index = True)
    combined2 = combined1.filter(items = [0,1,2,3,4,5])
    return combined2
    
    
    
def eps(companies = []): 
    a = ['ca1' , 'ca2' , 'ca3', 'ca4', 'ca5' , 'ca6']
    b = ['ca11' , 'ca22', 'ca33', 'ca44', 'ca55', 'ca66']
    c = ['ca111' , 'ca222', 'ca333', 'ca444', 'ca555', 'ca666']
    list_1 = []
    list_2 = []
    list_3 = []
    for ratio in a: 
        for company in companies: 
            ratio = company 
            list_1.append(ratio)
    for ratio_2 in b:
        for new in list_1: 
            ratio_2 = new.filter(items = ['calendardate', 'eps'])
            list_2.append(ratio_2)
    for ratio_3 in c: 
        for z in list_2: 
            ratio_3 = z.set_index('calendardate')
            list_3.append(ratio_3)
    combined = pd.concat([x for x in list_3], axis = 1 , ignore_index = True)
    combined2 = combined.filter(items=[0 ,1,2,3,4,5])
    return combined2



def return_on_equity(companies = []): 
    a = ['de1' , 'de2' , 'de3', 'de4', 'de5' , 'de6']
    b = ['de11' , 'de22', 'de33', 'de44', 'de55', 'de66']
    c = ['de111' , 'de222', 'de333', 'de444', 'de555', 'de666']
    d = ['de1111' , 'de2222', 'de3333', 'de4444', 'de5555', 'de6666']
    list_1 = []
    list_2 = []
    list_3 = []
    list_4 = []
    for ratio in a: 
        for company in companies: 
            ratio = company
            list_1.append(ratio)
    for ratio_2 in b: 
        for new in list_1: 
            ratio_2 = new.set_index('calendardate')
            list_2.append(ratio_2)
    for ratio_3 in c: 
        for z in list_2: 
            z['ROE'] = (z["netinc"]/z['equityusd'])
            ratio_3 = z.filter(items = ['ROE'])
            list_3.append(ratio_3)
    combined1 = pd.concat([l for l in list_3], axis = 1 , ignore_index = True)
    combined2 = combined1.filter(items = [0,1,2,3,4,5])
    return combined2
    

def pe_ratio(companies = []): 
    a = ['ca1' , 'ca2' , 'ca3', 'ca4', 'ca5' , 'ca6']
    b = ['ca11' , 'ca22', 'ca33', 'ca44', 'ca55', 'ca66']
    c = ['ca111' , 'ca222', 'ca333', 'ca444', 'ca555', 'ca666']
    list_1 = []
    list_2 = []
    list_3 = []
    for ratio in a: 
        for company in companies: 
            ratio = company 
            list_1.append(ratio)
    for ratio_2 in b:
        for new in list_1: 
            ratio_2 = new.filter(items = ['calendardate', 'pe'])
            list_2.append(ratio_2)
    for ratio_3 in c: 
        for z in list_2: 
            ratio_3 = z.set_index('calendardate')
            list_3.append(ratio_3)
    combined = pd.concat([x for x in list_3], axis = 1 , ignore_index = True)
    combined2 = combined.filter(items=[0 ,1,2,3,4,5])
    return combined2

In [78]:
amazon_data_2018 = get_year_quarterly_data_2018('SHARADAR/SF1', 'ARQ', '2018-03-31', "AMZN",)
amazon_data_2019 = get_year_quarterly_data_2019('SHARADAR/SF1', 'ARQ', '2018-03-31', 'AMZN')
amazon_data_2020 = get_year_quarterly_data_2020('SHARADAR/SF1', 'ARQ', '2018-03-31', 'AMZN')

In [79]:
partycity_data_2018 = get_year_quarterly_data_2018('SHARADAR/SF1', 'ARQ', '2018-03-31', "PRTY")
partycity_data_2019 = get_year_quarterly_data_2019('SHARADAR/SF1', 'ARQ', '2018-03-31', "PRTY")
partycity_data_2020 = get_year_quarterly_data_2020('SHARADAR/SF1', 'ARQ', '2018-03-31', "PRTY")

In [80]:
jcpenny_data_2018 =  get_year_quarterly_data_2018('SHARADAR/SF1', 'ARQ', '2018-03-31', "CPPRQ")
jcpenny_data_2019 =  get_year_quarterly_data_2019('SHARADAR/SF1', 'ARQ', '2018-03-31', "CPPRQ")
jcpenny_data_2020 =  get_year_quarterly_data_2020('SHARADAR/SF1', 'ARQ', '2018-03-31', "CPPRQ")

In [81]:
etsy_data_2018 = get_year_quarterly_data_2018('SHARADAR/SF1', 'ARQ', '2018-03-31', "ETSY")
etsy_data_2019 = get_year_quarterly_data_2019('SHARADAR/SF1', 'ARQ', '2018-03-31', "ETSY")
etsy_data_2020 = get_year_quarterly_data_2020('SHARADAR/SF1', 'ARQ', '2018-03-31', "ETSY")

In [82]:
macy_data_2018 = get_year_quarterly_data_2018('SHARADAR/SF1', 'ARQ', '2018-03-31', "M")
macy_data_2019 = get_year_quarterly_data_2019('SHARADAR/SF1', 'ARQ', '2018-03-31', "M")
macy_data_2020 = get_year_quarterly_data_2020('SHARADAR/SF1', 'ARQ', '2018-03-31', "M")

In [83]:
walmart_data_2018 = get_year_quarterly_data_2018('SHARADAR/SF1', 'ARQ', '2018-03-31', "WMT")
walmart_data_2019 = get_year_quarterly_data_2019('SHARADAR/SF1', 'ARQ', '2018-03-31', "WMT")
walmart_data_2020 = get_year_quarterly_data_2020('SHARADAR/SF1', 'ARQ', '2018-03-31', "WMT")

In [88]:
current_ratios_2018 = current_ratio(companies =[amazon_data_2018 , walmart_data_2018 , partycity_data_2018 , etsy_data_2018 , macy_data_2018, jcpenny_data_2018])
current_ratios_2018.rename(columns = {0: 'Amazon CA', 1: 'Walmart CA', 2: 'Party City CA', 3: "Etsy CA", 4: "Macy CA", 5: "JCP CA"}, inplace = True)

In [89]:
current_ratios_2019 =  current_ratio(companies=[amazon_data_2019 , walmart_data_2019 , partycity_data_2019 , etsy_data_2019 , macy_data_2019, jcpenny_data_2019])
current_ratios_2019.rename(columns = {0: 'Amazon CA', 1: 'Walmart CA', 2: 'Party City CA', 3: "Etsy CA", 4: "Macy CA", 5: "JCP CA"}, inplace = True)

In [90]:
current_ratios_2020 =  current_ratio(companies = [amazon_data_2020 , walmart_data_2020 , partycity_data_2020 , etsy_data_2020 , macy_data_2020, jcpenny_data_2020])
current_ratios_2020.rename(columns = {0: 'Amazon CA', 1: 'Walmart CA', 2: 'Party City CA', 3: "Etsy CA", 4: "Macy CA", 5: "JCP CA"}, inplace = True)

In [91]:
all_current_ratios = pd.concat([current_ratios_2018 , current_ratios_2019 , current_ratios_2020])
all_current_ratios

              Amazon CA  Walmart CA  Party City CA  Etsy CA  Macy CA  JCP CA
calendardate
2018-12-31        1.098       0.799          1.439    6.071    1.423   1.524
2018-09-30        1.082       0.810          1.304    5.491    1.345   1.576
2018-06-30        1.072       0.926          1.274    5.870    1.532   1.627
2018-03-31        1.058       0.734          1.267    6.616    1.519   1.729
2019-12-31        1.097       0.795          1.287    4.885    1.184   1.411
2019-09-30        1.096       0.811          1.248    6.114    1.281   1.515
2019-06-30        1.102       0.764          1.225    4.466    1.475   1.372
2019-03-31        1.090       0.773          1.161    4.870    1.416   1.509
2020-09-30        1.108       0.835          1.187    4.980    1.106   1.150
2020-06-30        1.181       0.793          1.118    4.272    1.160   1.218
2020-03-31        1.079       0.766          1.150    5.710    1.236   0.500

In [32]:
de_ratios_2018 = debt_to_equity(companies = [amazon_data_2018 , walmart_data_2018 , partycity_data_2018 , etsy_data_2018 , macy_data_2018 , jcpenny_data_2018])
de_ratios_2018.rename(columns = {0: 'Amazon D/E', 1: 'Walmart D/E', 2: 'Party City D/E', 3: "Etsy D/E", 4: "Macy D/E", 5: "JCP D/E"}, inplace = True)

In [33]:
de_ratios_2019 = debt_to_equity(companies = [amazon_data_2019 , walmart_data_2019 , partycity_data_2019 , etsy_data_2019 , macy_data_2019 , jcpenny_data_2019])
de_ratios_2019.rename(columns = {0: 'Amazon D/E', 1: 'Walmart D/E', 2: 'Party City D/E', 3: "Etsy D/E", 4: "Macy D/E", 5: "JCP D/E"}, inplace = True)

In [34]:
de_ratios_2020 = debt_to_equity(companies = [amazon_data_2020 , walmart_data_2020 , partycity_data_2020 , etsy_data_2020 , macy_data_2020 , jcpenny_data_2020])
de_ratios_2020.rename(columns = {0: 'Amazon D/E', 1: 'Walmart D/E', 2: 'Party City D/E', 3: "Etsy D/E", 4: "Macy D/E", 5: "JCP D/E"}, inplace = True)

In [35]:
all_de_ratios = pd.concat([de_ratios_2018,de_ratios_2019,de_ratios_2020])
all_de_ratios

,Amazon D/E,Walmart D/E,Party City D/E,Etsy D/E,Macy D/E,JCP D/E
calendardate,,,,,,
2018-12-31,2.735,1.926,2.488,1.250,1.982,5.599
2018-09-30,2.673,2.043,2.764,1.299,2.597,6.835
2018-06-30,2.832,1.858,2.549,1.338,2.159,5.627
2018-03-31,3.016,1.676,2.564,1.263,2.365,5.316
2019-12-31,2.630,2.075,5.781,2.793,2.320,8.637
2019-09-30,2.523,2.254,4.404,2.851,2.722,9.022
2019-06-30,2.606,2.243,3.168,1.310,2.284,7.577
2019-03-31,2.679,2.341,3.312,1.336,2.368,7.068
2020-09-30,2.409,2.006,21.788,2.322,7.566,-18.124
2020-06-30,2.504,2.074,-23.345,2.362,6.579,-95.416
2020-03-31,2.389,2.327,-162.064,2.730,5.890,22.629

In [36]:
da_ratios_2018 = debt_to_assets(companies = [amazon_data_2018 , walmart_data_2018 , partycity_data_2018 , etsy_data_2018 , macy_data_2018 , jcpenny_data_2018])
da_ratios_2018.rename(columns = {0: 'Amazon D/A', 1: 'Walmart D/A', 2: 'Party City D/A', 3: "Etsy D/A", 4: "Macy D/A", 5: "JCP D/A"}, inplace = True)

In [37]:
da_ratios_2019 = debt_to_assets(companies = [amazon_data_2019 , walmart_data_2019 , partycity_data_2019 , etsy_data_2019 , macy_data_2019 , jcpenny_data_2019])
da_ratios_2019.rename(columns = {0: 'Amazon D/A', 1: 'Walmart D/A', 2: 'Party City D/A', 3: "Etsy D/A", 4: "Macy D/A", 5: "JCP D/A"}, inplace = True)

In [38]:
da_ratios_2020 = debt_to_assets(companies = [amazon_data_2020 , walmart_data_2020 , partycity_data_2020 , etsy_data_2020 , macy_data_2020 , jcpenny_data_2020])
da_ratios_2020.rename(columns = {0: 'Amazon D/A', 1: 'Walmart D/A', 2: 'Party City D/A', 3: "Etsy D/A", 4: "Macy D/A", 5: "JCP D/A"}, inplace = True)

In [39]:
all_da_ratio = pd.concat([da_ratios_2018,da_ratios_2019,da_ratios_2020])
all_da_ratio

,Amazon D/A,Walmart D/A,Party City D/A,Etsy D/A,Macy D/A,JCP D/A
calendardate,,,,,,
2018-12-31,0.144453,0.264634,0.532083,0.379726,0.247525,0.520658
2018-09-30,0.171781,0.269177,0.547481,0.374570,0.271794,0.530838
2018-06-30,0.183729,0.261067,0.543778,0.388693,0.296550,0.523331
2018-03-31,0.194995,0.226144,0.545007,0.383316,0.300593,0.529922
2019-12-31,0.280602,0.306277,0.717745,0.549169,0.334309,0.612968
2019-09-30,0.298997,0.316674,0.691544,0.560615,0.332727,0.614898
2019-06-30,0.305528,0.318099,0.647771,0.343252,0.362663,0.600484
2019-03-31,0.317779,0.321599,0.655042,0.356476,0.354245,0.609806
2020-09-30,0.288888,0.272970,0.812170,0.501284,0.450401,0.888493
2020-06-30,0.293929,0.292752,0.911220,0.488390,0.491598,0.851363
2020-03-31,0.288092,0.323893,0.898372,0.562443,0.461762,0.736228

In [40]:
interest_coverage_2018 = interest_coverage(companies = [amazon_data_2018 , walmart_data_2018 , partycity_data_2018 , etsy_data_2018 , macy_data_2018 , jcpenny_data_2018])
interest_coverage_2018.rename(columns = {0: 'Amazon IntC', 1: 'Walmart IntC', 2: 'Party City IntC', 3: "Etsy IntC", 4: "Macy IntC", 5: "JCP IntC"}, inplace = True)

In [41]:
interest_coverage_2019 = interest_coverage(companies = [amazon_data_2019, walmart_data_2019 , partycity_data_2019, etsy_data_2019 , macy_data_2019 , jcpenny_data_2019])
interest_coverage_2019.rename(columns = {0: 'Amazon IntC', 1: 'Walmart IntC', 2: 'Party City IntC', 3: "Etsy IntC", 4: "Macy IntC", 5: "JCP IntC"}, inplace = True)

In [42]:
interest_coverage_2020 = interest_coverage(companies = [amazon_data_2020, walmart_data_2020 , partycity_data_2020, etsy_data_2020 , macy_data_2020 , jcpenny_data_2020])
interest_coverage_2020.rename(columns = {0: 'Amazon IntC', 1: 'Walmart IntC', 2: 'Party City IntC', 3: "Etsy IntC", 4: "Macy IntC", 5: "JCP IntC"}, inplace = True)

In [43]:
all_intc_ratios = pd.concat([interest_coverage_2018,interest_coverage_2019,interest_coverage_2020])
all_intc_ratios

,Amazon IntC,Walmart IntC,Party City IntC,Etsy IntC,Macy IntC,JCP IntC
calendardate,,,,,,
2018-12-31,9.666667,9.278027,5.367938,4.717257,17.947368,1.807692
2018-09-30,10.472067,5.163575,0.940985,3.379136,2.156250,-1.038462
2018-06-30,8.603499,1.476534,2.468452,1.755102,3.884058,-0.215190
2018-03-31,6.806061,6.056604,0.921074,4.448725,3.690141,-0.012821
2019-12-31,9.909890,9.466258,-8.535136,3.295299,10.760870,1.342466
2019-09-30,7.636364,7.856240,-9.494324,2.987197,1.000000,-0.287671
2019-06-30,8.524804,8.555382,3.122084,4.499145,3.230769,0.418919
2019-03-31,13.013661,8.567608,-0.392385,7.756286,4.018519,-1.095890
2020-09-30,17.121495,14.029575,18.549024,9.515591,-1.712500,-2.822917
2020-06-30,16.451613,14.196049,-5.046199,12.202474,-9.414286,-5.044776
2020-03-31,9.156716,9.972973,-24.557763,1.972509,-83.836735,-7.080000

In [44]:
gpm_2018 = gross_profit_margin(companies = [amazon_data_2018,walmart_data_2018, partycity_data_2018, etsy_data_2018 , macy_data_2018 , jcpenny_data_2018])
gpm_2018.rename(columns = {0: 'Amazon GPM', 1: 'Walmart GPM', 2: 'Party City GPM', 3: "Etsy GPM", 4: "Macy GPM", 5: "JCP GPM"}, inplace = True)

In [45]:
gpm_2019 = gross_profit_margin(companies = [amazon_data_2019,walmart_data_2019, partycity_data_2019, etsy_data_2019 , macy_data_2019 , jcpenny_data_2019])
gpm_2019.rename(columns = {0: 'Amazon GPM', 1: 'Walmart GPM', 2: 'Party City GPM', 3: "Etsy GPM", 4: "Macy GPM", 5: "JCP GPM"}, inplace = True)

In [46]:
gpm_2020 = gross_profit_margin(companies = [amazon_data_2020,walmart_data_2020, partycity_data_2020, etsy_data_2020 ,macy_data_2020 , jcpenny_data_2020])
gpm_2020.rename(columns = {0: 'Amazon GPM', 1: 'Walmart GPM', 2: 'Party City GPM', 3: "Etsy GPM", 4: "Macy GPM", 5: "JCP GPM"}, inplace = True)

In [47]:
all_gpm = pd.concat([gpm_2018,gpm_2019,gpm_2020]).sort_index()
all_gpm

,Amazon GPM,Walmart GPM,Party City GPM,Etsy GPM,Macy GPM,JCP GPM
calendardate,,,,,,
2018-03-31,0.397849,0.252531,0.368387,0.658471,0.389641,0.359042
2018-06-30,0.420792,0.253515,0.405614,0.656998,0.404164,0.352775
2018-09-30,0.416661,0.254440,0.366232,0.687782,0.403035,0.338456
2018-12-31,0.381264,0.244148,0.449050,0.714485,0.374571,0.334654
2019-03-31,0.431826,0.249272,0.332812,0.689038,0.381722,0.362035
2019-06-30,0.426897,0.248924,0.368154,0.676385,0.387847,0.394807
2019-09-30,0.409811,0.250729,0.302730,0.651679,0.399575,0.383600
2019-12-31,0.382668,0.239449,0.400642,0.663612,0.368358,0.353851
2020-03-31,0.413442,0.242130,0.275278,0.638613,0.171031,0.320234
2020-06-30,0.407729,0.254483,0.053645,0.740211,0.236302,0.370117
2020-09-30,0.406043,0.255137,0.327960,0.733834,0.356140,0.329920

In [48]:
opm_2018 = operating_profit_margin(companies = [amazon_data_2018,walmart_data_2018, partycity_data_2018, etsy_data_2018 , macy_data_2018 , jcpenny_data_2018])
opm_2018.rename(columns = {0: 'Amazon OPM', 1: 'Walmart OPM', 2: 'Party City OPM', 3: "Etsy OPM", 4: "Macy OPM", 5: "JCP OPM"}, inplace = True)

In [49]:
opm_2019 = operating_profit_margin(companies = [amazon_data_2019,walmart_data_2019, partycity_data_2019, etsy_data_2019 , macy_data_2019 , jcpenny_data_2019])
opm_2019.rename(columns = {0: 'Amazon OPM', 1: 'Walmart OPM', 2: 'Party City OPM', 3: "Etsy OPM", 4: "Macy OPM", 5: "JCP OPM"}, inplace = True)

In [50]:
opm_2020 = operating_profit_margin(companies = [amazon_data_2020,walmart_data_2020, partycity_data_2020, etsy_data_2020 , macy_data_2020 , jcpenny_data_2020])
opm_2020.rename(columns = {0: 'Amazon OPM', 1: 'Walmart OPM', 2: 'Party City OPM', 3: "Etsy OPM", 4: "Macy OPM", 5: "JCP OPM"}, inplace = True)

In [51]:
all_opm = pd.concat([opm_2018, opm_2019,opm_2020]).sort_index()
all_opm

,Amazon OPM,Walmart OPM,Party City OPM,Etsy OPM,Macy OPM,JCP OPM
calendardate,,,,,,
2018-03-31,0.044003,0.026164,0.042215,0.138489,0.047284,-0.000374
2018-06-30,0.055799,0.006389,0.112205,0.081201,0.048098,-0.006009
2018-09-30,0.066265,0.024517,0.047139,0.137870,0.025537,-0.029638
2018-12-31,0.051683,0.044721,0.194726,0.145130,0.120993,0.037242
2019-03-31,0.079782,0.046528,-0.022373,0.213123,0.039426,-0.031311
2019-06-30,0.051495,0.042063,0.167075,0.116221,0.030292,0.011837
2019-09-30,0.043212,0.038854,-0.517114,0.076616,0.010052,-0.008400
2019-12-31,0.051569,0.043566,-0.303837,0.120975,0.059374,0.028056
2020-03-31,0.048786,0.043856,-1.489920,0.086207,-1.361618,-0.443980
2020-06-30,0.074568,0.067815,-0.503489,0.285354,-0.185164,-0.231666
2020-09-30,0.076218,0.056344,0.466423,0.223727,-0.034336,-0.154152

In [52]:
eps_2018 = eps(companies = [amazon_data_2018,walmart_data_2018, partycity_data_2018, etsy_data_2018 , macy_data_2018 , jcpenny_data_2018])
eps_2018.rename(columns = {0: 'Amazon EPS', 1: 'Walmart EPS', 2: 'Party City EPS', 3: "Etsy EPS", 4: "Macy EPS", 5: "JCP EPS"}, inplace = True)

In [53]:
eps_2019 = eps(companies = [amazon_data_2019,walmart_data_2019, partycity_data_2019, etsy_data_2019 , macy_data_2019, jcpenny_data_2019])
eps_2019.rename(columns = {0: 'Amazon EPS', 1: 'Walmart EPS', 2: 'Party City EPS', 3: "Etsy EPS", 4: "Macy EPS", 5: "JCP EPS"}, inplace = True)

In [54]:
eps_2020 = eps(companies = [amazon_data_2020,walmart_data_2020, partycity_data_2020, etsy_data_2020 , macy_data_2020 , jcpenny_data_2020])
eps_2020.rename(columns = {0: 'Amazon EPS', 1: 'Walmart EPS', 2: 'Party City EPS', 3: "Etsy EPS", 4: "Macy EPS", 5: "JCP EPS"}, inplace = True)

In [55]:
all_eps = pd.concat([eps_2018,eps_2019,eps_2020]).sort_index()
all_eps

,Amazon EPS,Walmart EPS,Party City EPS,Etsy EPS,Macy EPS,JCP EPS
calendardate,,,,,,
2018-03-31,3.36,0.72,-0.01,0.11,0.45,-0.25
2018-06-30,5.21,-0.29,0.30,0.03,0.54,-0.32
2018-09-30,5.91,0.58,-0.03,0.17,0.20,-0.48
2018-12-31,6.19,1.27,1.02,0.34,2.40,0.24
2019-03-31,7.24,1.34,-0.32,0.26,0.44,-0.48
2019-06-30,5.32,1.27,0.52,0.15,0.28,-0.15
2019-09-30,4.31,1.16,-3.02,0.12,0.01,-0.29
2019-12-31,6.59,1.46,-2.89,0.26,1.10,0.08
2020-03-31,5.09,1.41,-5.80,0.11,-11.53,-1.69
2020-06-30,10.50,2.29,-1.39,0.81,-1.39,-1.23
2020-09-30,12.63,1.81,2.78,0.75,-0.29,-1.13

In [56]:
roe_2018 =  return_on_equity(companies = [amazon_data_2018,walmart_data_2018, partycity_data_2018, etsy_data_2018 , macy_data_2018 , jcpenny_data_2018])
roe_2018.rename(columns = {0: 'Amazon ROE', 1: 'Walmart ROE', 2: 'Party City ROE', 3: "Etsy ROE", 4: "Macy ROE", 5: "JCP ROE"}, inplace = True)

In [57]:
roe_2019 =  return_on_equity(companies = [amazon_data_2019,walmart_data_2019, partycity_data_2019, etsy_data_2019 , macy_data_2019 , jcpenny_data_2019])
roe_2019.rename(columns = {0: 'Amazon ROE', 1: 'Walmart ROE', 2: 'Party City ROE', 3: "Etsy ROE", 4: "Macy ROE", 5: "JCP ROE"}, inplace = True)

In [58]:
roe_2020 =  return_on_equity(companies = [amazon_data_2020,walmart_data_2020, partycity_data_2020, etsy_data_2020 , macy_data_2020 , jcpenny_data_2020])
roe_2020.rename(columns = {0: 'Amazon ROE', 1: 'Walmart ROE', 2: 'Party City ROE', 3: "Etsy ROE", 4: "Macy ROE", 5: "JCP ROE"}, inplace = True)

In [59]:
all_roe = pd.concat([roe_2018,roe_2019,roe_2020]).sort_index()
all_roe

,Amazon ROE,Walmart ROE,Party City ROE,Etsy ROE,Macy ROE,JCP ROE
calendardate,,,,,,
2018-03-31,0.051775,0.028245,-0.001164,0.033725,0.023879,-0.059316
2018-06-30,0.072410,-0.012095,0.028236,0.009130,0.028059,-0.083059
2018-09-30,0.073687,0.023751,-0.002425,0.050413,0.010941,-0.140596
2018-12-31,0.069508,0.050858,0.094235,0.102896,0.114978,0.064103
2019-03-31,0.073559,0.056330,-0.029659,0.075186,0.021509,-0.148936
2019-06-30,0.049471,0.051332,0.044976,0.041200,0.013618,-0.049844
2019-09-30,0.037765,0.045890,-0.359820,0.038023,0.000330,-0.107143
2019-12-31,0.052659,0.055458,-0.507448,0.076951,0.053317,0.032569
2020-03-31,0.038837,0.058470,27.821260,0.030778,-1.327772,-1.568966
2020-06-30,0.071113,0.085991,0.950333,0.183956,-0.185456,4.471910
2020-09-30,0.076484,0.063060,1.757396,0.137641,-0.040571,0.774737

In [60]:
pe_2018 = pe_ratio(companies = [amazon_data_2018,walmart_data_2018, partycity_data_2018, etsy_data_2018 , macy_data_2018 , jcpenny_data_2018])
pe_2018.rename(columns = {0: 'Amazon P/E', 1: 'Walmart P/E', 2: 'Party City P/E', 3: "Etsy P/E", 4: "Macy P/E", 5: "JCP P/E"}, inplace = True)

In [61]:
pe_2019 = pe_ratio(companies = [amazon_data_2019,walmart_data_2019, partycity_data_2019, etsy_data_2019 , macy_data_2019 , jcpenny_data_2019])
pe_2019.rename(columns = {0: 'Amazon P/E', 1: 'Walmart P/E', 2: 'Party City P/E', 3: "Etsy P/E", 4: "Macy P/E", 5: "JCP P/E"}, inplace = True)

In [73]:
pe_2020 = pe_ratio(companies = [amazon_data_2020,walmart_data_2020, partycity_data_2020, etsy_data_2020 , macy_data_2020 , jcpenny_data_2020])
pe_2020.rename(columns = {0: 'Amazon P/E', 1: 'Walmart P/E', 2: 'Party City P/E', 3: "Etsy P/E", 4: "Macy P/E", 5: "JCP P/E"}, inplace = True)

In [101]:
all_pe = pd.concat([pe_2018,pe_2019,pe_2020]).sort_index()
all_pe

,Amazon P/E,Walmart P/E,Party City P/E,Etsy P/E,Macy P/E,JCP P/E
calendardate,,,,,,
2018-03-31,193.724,28.141,6.565,37.642,6.742,-54.103
2018-06-30,141.230,54.354,6.898,60.416,6.735,-10.338
2018-09-30,90.226,55.002,4.630,74.382,5.759,-6.142
2018-12-31,79.302,41.789,7.910,109.968,6.837,-2.109
2019-03-31,79.996,36.139,8.017,75.985,5.892,-0.795
2019-06-30,79.459,25.397,3.935,64.830,4.453,-0.730
2019-09-30,76.960,23.341,-1.234,49.800,5.045,-1.658
2019-12-31,86.293,21.692,-0.097,71.241,2.948,-0.538
2020-03-31,107.955,23.266,-0.161,118.296,-0.669,-0.129
2020-06-30,120.270,23.386,-0.135,100.564,-0.643,-0.091
2020-09-30,92.716,21.571,-0.497,71.970,-0.963,-0.045

In [102]:
import pandas_datareader as pdr
import hvplot.pandas
import datetime as dt

In [103]:
tickers = ['AMZN', 'WMT', 'PRTY', 'ETSY', 'M', 'CPPRQ']
start_date = dt.date(2018,1,1)
end_date = dt.date(2021,1,1)
stock_prices = pdr.data.get_data_yahoo(tickers, start_date , end_date)['Adj Close']

In [104]:
stock_prices_quarterly = stock_prices.groupby(pd.Grouper( freq = '3M')).mean()

In [96]:
stock_prices_quarterly

Symbols,AMZN,CPPRQ,ETSY,M,PRTY,WMT
Date,,,,,,
2018-01-31,1309.010946,3.837619,19.793333,22.195578,15.050000,97.244899
2018-04-30,1485.004096,3.362623,25.720656,24.153212,15.319672,85.863526
2018-07-31,1691.262655,2.586563,37.086250,31.235918,15.482812,81.305593
2018-10-31,1876.821543,1.829077,45.936615,30.981873,13.753077,90.996427
2019-01-31,1609.922301,1.294262,50.573279,27.085294,10.702131,92.280938
2019-04-30,1742.203113,1.432623,64.563115,21.952006,9.230328,95.744416
2019-07-31,1897.315472,1.074844,64.954375,19.862116,7.172344,104.668362
2019-10-31,1780.697078,0.838923,55.560231,15.042593,5.671615,112.805765
2020-01-31,1815.420959,1.035000,44.612097,15.472514,2.459355,116.206598
2020-04-30,2052.434996,0.493387,51.558065,9.364702,1.270548,116.951286
2020-07-31,2696.350788,0.270000,91.319766,6.508438,1.251578,123.539361
2020-10-31,3213.801083,0.263750,128.359844,6.556719,2.443750,137.492972
2021-01-31,3171.110950,0.145714,155.549761,9.752143,4.681667,146.954485

In [109]:
stock_prices_quarterly.drop(stock_prices_quarterly.index[11], inplace = True)

In [110]:
stock_prices_quarterly['Date2'] = all_pe.index

In [115]:
stock_prices_quarterly.set_index('Date2', inplace = True)

In [116]:
stock_prices_quarterly.index.names = ['Date']

In [117]:
stock_prices_quarterly

Symbols            AMZN     CPPRQ       ETSY          M       PRTY         WMT
Date
2018-03-31  1309.010946  3.837619  19.793333  22.195578  15.050000   97.244899
2018-06-30  1485.004096  3.362623  25.720656  24.153212  15.319672   85.863526
2018-09-30  1691.262655  2.586563  37.086250  31.235918  15.482812   81.305593
2018-12-31  1876.821543  1.829077  45.936615  30.981873  13.753077   90.996427
2019-03-31  1609.922301  1.294262  50.573279  27.085294  10.702131   92.280938
2019-06-30  1742.203113  1.432623  64.563115  21.952006   9.230328   95.744416
2019-09-30  1897.315472  1.074844  64.954375  19.862116   7.172344  104.668362
2019-12-31  1780.697078  0.838923  55.560231  15.042593   5.671615  112.805765
2020-03-31  1815.420959  1.035000  44.612097  15.472514   2.459355  116.206598
2020-06-30  2052.434996  0.493387  51.558065   9.364702   1.270548  116.951286
2020-09-30  2696.350788  0.270000  91.319766   6.508438   1.251578  123.539361

In [118]:
stock_and_gpm = pd.concat([all_gpm, stock_prices_quarterly], axis = 1)
stock_and_gpm

,Amazon GPM,Walmart GPM,Party City GPM,Etsy GPM,Macy GPM,JCP GPM,AMZN,CPPRQ,ETSY,M,PRTY,WMT
2018-03-31,0.397849,0.252531,0.368387,0.658471,0.389641,0.359042,1309.010946,3.837619,19.793333,22.195578,15.050000,97.244899
2018-06-30,0.420792,0.253515,0.405614,0.656998,0.404164,0.352775,1485.004096,3.362623,25.720656,24.153212,15.319672,85.863526
2018-09-30,0.416661,0.254440,0.366232,0.687782,0.403035,0.338456,1691.262655,2.586563,37.086250,31.235918,15.482812,81.305593
2018-12-31,0.381264,0.244148,0.449050,0.714485,0.374571,0.334654,1876.821543,1.829077,45.936615,30.981873,13.753077,90.996427
2019-03-31,0.431826,0.249272,0.332812,0.689038,0.381722,0.362035,1609.922301,1.294262,50.573279,27.085294,10.702131,92.280938
2019-06-30,0.426897,0.248924,0.368154,0.676385,0.387847,0.394807,1742.203113,1.432623,64.563115,21.952006,9.230328,95.744416
2019-09-30,0.409811,0.250729,0.302730,0.651679,0.399575,0.383600,1897.315472,1.074844,64.954375,19.862116,7.172344,104.668362
2019-12-31,0.382668,0.239449,0.400642,0.663612,0.368358,0.353851,1780.697078,0.838923,55.560231,15.042593,5.671615,112.805765
2020-03-31,0.413442,0.242130,0.275278,0.638613,0.171031,0.320234,1815.420959,1.035000,44.612097,15.472514,2.459355,116.206598
2020-06-30,0.407729,0.254483,0.053645,0.740211,0.236302,0.370117,2052.434996,0.493387,51.558065,9.364702,1.270548,116.951286
2020-09-30,0.406043,0.255137,0.327960,0.733834,0.356140,0.329920,2696.350788,0.270000,91.319766,6.508438,1.251578,123.539361

In [119]:
from bokeh.models import LinearAxis , Range1d , GlyphRenderer

In [120]:
def apply_formatter(plot, element):
    p = plot.state
    
    # create secondary range and axis
    p.extra_y_ranges = {"twiny": Range1d(start=0, end=1)}
    p.add_layout(LinearAxis(y_range_name="twiny"), 'left')

    # set glyph y_range_name to the one we've just created
    glyph = p.select(dict(type=GlyphRenderer))[0]
    glyph.y_range_name = 'twiny'
    
def apply_formatter2(plot, element):
    p = plot.state
    
    # create secondary range and axis
    p.extra_y_ranges = {"twiny": Range1d(start=0, end=200)}
    p.add_layout(LinearAxis(y_range_name="twiny"), 'left')

    # set glyph y_range_name to the one we've just created
    glyph = p.select(dict(type=GlyphRenderer))[0]
    glyph.y_range_name = 'twiny'    


def apply_formatter3(plot, element):
    p = plot.state
    
    # create secondary range and axis
    p.extra_y_ranges = {"twiny": Range1d(start=0, end=50)}
    p.add_layout(LinearAxis(y_range_name="twiny"), 'left')

    # set glyph y_range_name to the one we've just created
    glyph = p.select(dict(type=GlyphRenderer))[0]
    glyph.y_range_name = 'twiny'

In [127]:
a = stock_and_gpm['AMZN'].hvplot(yaxis = 'right', ylabel = 'Stock Price', xlabel = 'Quarters')
b = stock_and_gpm['Amazon GPM'].hvplot(yaxis = 'left', ylabel = 'GPM').opts(hooks = [apply_formatter])
a*b

:Overlay
   .Curve.AMZN       :Curve   [index]   (AMZN)
   .Curve.Amazon_GPM :Curve   [index]   (Amazon GPM)

In [ ]:
def cr